.home {
  height: 900px;
  /* border: 2px solid red; */
  margin: 0 auto;
  background: url("../img/img.png");
  background-size: cover;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .home {
      height: auto;
      background: yellow;
      background-size: 100% 100%;
      padding-bottom: 20px; } }
  .home .container {
    border: 1px solid transparent; }
    .home .container .home-wrapper {
      display: flex;
      align-items: baseline;
      position: fixed;
      width: 1200px;
      background-color: #fff; }
    .home .container .home-logo {
      width: 50%;
      /* border: 2px solid blue; */
      font-family: Pacifico;
      font-size: 30px;
      margin-top: 30px; }
    .home .container .logo-navigation__link {
      text-decoration: none;
      /* border: 2px solid green; */
      color: black; }
    .home .container .logo-navigation__link:hover {
      color: #ff6033; }
    .home .container .navigation {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-transform: uppercase;
      margin-top: 30px;
      /* position: fixed; */
      left: 550px; }
    .home .container .navigation__link {
      text-decoration: none;
      font-size: 16px;
      color: #262626;
      font-weight: 700;
      font-family: "Raleway";
      border: 2px solid transparent; }
    .home .container .navigation__link:hover {
      border-top: 2px solid orangered; }
    .home .container .home-ttb {
      /* border:2px solid red ; */
      height: 23%;
      margin-top: 30%; }
      .home .container .home-ttb .home-title {
        border: 1px solid red;
        font-size: 45px;
        font-weight: 1000;
        color: #262626;
        font-family: "Raleway";
        margin-bottom: 10px; }
        @media only screen and (min-width: 600px) and (max-width: 1000px) {
          .home .container .home-ttb .home-title {
            color: blue; } }
      .home .container .home-ttb .home-text {
        font-size: 17px;
        color: #262626;
        font-weight: 300;
        font-family: "Raleway";
        margin-bottom: 10px;
        border: 1px solid magenta; }
        @media only screen and (max-width: 767px) {
          .home .container .home-ttb .home-text {
            width: 100%;
            height: auto; } }
      .home .container .home-ttb .home-button {
        height: 50px;
        background-color: #ff6033;
        font-size: 20px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Raleway";
        border: none; }
        @media only screen and (max-width: 767px) {
          .home .container .home-ttb .home-button {
            font-size: 12px;
            background-color: blue; } }
    .home .container .home-mouse {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translate 0, 50%; }
      @media only screen and (max-width: 767px) {
        .home .container .home-mouse {
          display: none; } }

.about {
  height: 700px;
  border: 2px solid red;
  margin: 0 auto;
  background-color: #00B8B8; }
  @media only screen and (max-width: 767px) {
    .about {
      height: auto;
      background-size: 100% 100%; } }
  .about .container {
    height: 100%;
    border: 2px solid green;
    display: flex; }
    .about .container .raspberry-img img {
      width: 100%; }
    .about .container .main-about {
      border: 2px solid red;
      margin-top: 100px; }
      .about .container .main-about .about-title {
        font-size: 90px;
        color: #ffffff;
        font-weight: 900;
        font-family: "Raleway";
        border: 2px solid red;
        margin-bottom: 20px; }
      .about .container .main-about .about-text {
        /* border: 2px solid blue; */
        font-size: 17px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Raleway";
        margin-bottom: 10px; }

.services {
  height: 791px;
  background-color: #70BFFF;
  margin: 0 auto;
  padding-top: 170px; }
  @media only screen and (max-width: 767px) {
    .services {
      height: auto;
      padding-bottom: 40px;
      padding-top: 20px; } }
  .services .container {
    height: 100%; }
    .services .container .services-element-1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .services .container .services-element-1 .services-wrap {
        width: 100%;
        height: 100px;
        background-color: #FFFFFF;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .services .container .services-element-1 .services-wrap:hover {
        box-shadow: 0 14px 28px #398ac9;
        /* box-shadow: 0 14px 28px rgb(10, 10, 128) */ }
      .services .container .services-element-1 .services-text {
        font-size: 20px;
        line-height: 27px;
        color: #262626;
        font-weight: 700;
        font-family: "Raleway";
        /* border: 2px solid blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 70%; }
      .services .container .services-element-1 .services-icon {
        border-left: 2px solid #9D9D9D;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100%; }
      .services .container .services-element-1 .services-text-3 {
        font-size: 20px;
        color: #262626;
        font-weight: 700;
        font-family: "Raleway";
        /* border: 2px solid blue; */
        width: 80%;
        text-align: center; }
    .services .container .services-element-2 {
      display: flex;
      align-items: center;
      justify-content: center; }
      .services .container .services-element-2 .services-text-img {
        font-size: 75px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Raleway";
        text-align: right;
        background: url(../img/tomato.png) no-repeat center;
        height: 530px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media only screen and (max-width: 767px) {
          .services .container .services-element-2 .services-text-img {
            font-size: 45px; } }

.gallery {
  margin: 0 auto;
  background-color: #FFE92F; }
  .gallery .container {
    height: 100%;
    border: 2px solid green;
    margin: 0 auto; }
    .gallery .container .gal-title {
      font-size: 50px;
      color: #262626;
      font-weight: 700;
      font-family: "Raleway";
      border: 2px solid green;
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .gallery .container .gal-title {
          font-size: 50px; } }
    .gallery .container .gal-text {
      font-size: 17px;
      color: #262626;
      font-weight: 300;
      font-family: "Raleway";
      text-align: center;
      margin: 50px auto;
      margin-bottom: 30px; }
    .gallery .container .galpart-1 {
      display: flex;
      justify-content: space-between;
      /* margin-bottom: 5px; */ }
      .gallery .container .galpart-1 .berries {
        display: flex;
        flex-direction: column; }
        .gallery .container .galpart-1 .berries .berri {
          margin-bottom: 21px; }
    @media only screen and (min-width: 600px) and (max-width: 1500px) {
      .gallery .container .galpart-2 {
        display: flex;
        justify-content: space-between; } }
    @media only screen and (min-width: 600px) and (max-width: 1500px) {
      .gallery .container .galpart-2 .yogurt {
        margin-right: 15px; } }
    .gallery .container .gal-button {
      font-size: 20px;
      color: #ffffff;
      font-weight: 300;
      font-family: "Raleway";
      background: #5585A2;
      margin: 50px auto;
      text-align: center;
      position: absolute;
      right: 50%;
      transform: translate(50%, 0);
      height: auto;
      border: 2px solid blue;
      max-width: 150px;
      margin-bottom: 20px; }
      @media only screen and (max-width: 767px) {
        .gallery .container .gal-button {
          font-size: 8px; } }

.sub {
  height: 500px;
  border: 2px solid blue;
  margin: 0 auto;
  background: url(../img/subscribe.png) bottom left;
  background-size: 1500px; }
  .sub .container {
    height: 90%;
    margin: 0 auto; }
    .sub .container .sub-title {
      font-size: 40px;
      color: #262626;
      font-weight: 700;
      font-family: "Raleway";
      text-align: left;
      margin-top: 200px;
      margin-bottom: 34px;
      border: 2px solid red; }
      @media only screen and (min-width: 300px) and (max-width: 500px) {
        .sub .container .sub-title {
          font-size: 16px; } }
    .sub .container .sub-text {
      font-size: 17px;
      color: #262626;
      font-weight: 300;
      font-family: "Raleway";
      margin-bottom: 20px; }
    .sub .container .sub-mail {
      display: flex;
      align-items: center;
      /* border: 2px solid red; */ }
      .sub .container .sub-mail .sub-yes {
        font-size: 15px;
        line-height: 27px;
        color: #262626;
        font-weight: 300;
        font-family: "Raleway";
        background-color: white;
        height: 56px;
        margin-right: 30px; }
      .sub .container .sub-mail .sub-but {
        border: 2px solid #290563;
        border: none; }
      .sub .container .sub-mail .notidea {
        background: #96B92C;
        font-size: 20px;
        line-height: 27px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Raleway"; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf"); }
