.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; }
  .header::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: white;
    z-index: 2; }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center; }
  .header__logo {
    width: 50%;
    font-family: Pacifico;
    font-size: 30px;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 3;
    padding: 0; }
  .header__burger {
    display: none; }
  .header__list {
    display: flex;
    margin: 0;
    position: relative;
    z-index: 2; }
    .header__list li {
      list-style: none;
      margin-left: 20px; }
  .header__link {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none; }
  @media (max-width: 767px) {
    .header body.lock {
      overflow: hidden; }
    .header__body {
      height: 50px; }
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3; }
      .header__burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s; }
      .header__burger::before, .header__burger::after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s; }
      .header__burger::before {
        top: 0; }
      .header__burger::after {
        bottom: 0; }
      .header__burger.active span {
        transform: scale(0); }
      .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px; }
      .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px; }
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 30%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color: white;
      padding: 70px 10px 20px 10px; }
    .header__menu.active {
      top: 0; }
    .header__list {
      display: block; }
      .header__list__list li {
        margin: 0px 0px 20px 0px; }
    .header__link {
      font-size: 24px; } }

.home {
  height: 900px;
  /* border: 2px solid red; */
  margin: 0 auto;
  background: url("../img/img.png") center center;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .home {
      height: auto;
      background-size: 100% 100%;
      padding-bottom: 20px; } }
  .home .home-ttb {
    /* border:2px solid red ; */
    height: 23%;
    margin-top: 30%; }
    .home .home-ttb .home-title {
      font-size: 45px;
      font-weight: 1000;
      color: #262626;
      font-family: "Raleway";
      margin-bottom: 10px; }
      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        .home .home-ttb .home-title {
          color: blue; } }
    .home .home-ttb .home-text {
      font-size: 17px;
      color: #262626;
      font-weight: 300;
      font-family: "Raleway";
      margin-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        .home .home-ttb .home-text {
          width: 75%;
          height: auto;
          font-size: 13px; } }
    .home .home-ttb .home-button {
      height: 50px;
      background-color: #ff6033;
      font-size: 20px;
      color: #ffffff;
      font-weight: 300;
      font-family: "Raleway";
      border: none;
      margin-left: 20%; }
      @media only screen and (max-width: 767px) {
        .home .home-ttb .home-button {
          font-size: 12px;
          background-color: blue; } }
  .home .home-mouse {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate 0, 50%; }
    @media only screen and (max-width: 767px) {
      .home .home-mouse {
        display: none; } }

.about {
  height: 700px;
  margin: 0 auto;
  background-color: #00B8B8; }
  @media only screen and (max-width: 767px) {
    .about {
      height: auto;
      background-size: 100% 100%; } }
  .about .container {
    height: 100%;
    display: flex; }
    .about .container .raspberry-img img {
      width: 100%; }
    .about .container .main-about {
      margin-top: 100px; }
      .about .container .main-about .about-title {
        font-size: 90px;
        color: #ffffff;
        font-weight: 900;
        font-family: "Raleway";
        margin-bottom: 20px; }
        @media only screen and (max-width: 767px) {
          .about .container .main-about .about-title {
            font-size: 40px; } }
      .about .container .main-about .about-text {
        /* border: 2px solid blue; */
        font-size: 17px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Raleway";
        margin-bottom: 10px; }

.services {
  height: 791px;
  background-color: #70BFFF;
  margin: 0 auto;
  padding-top: 170px; }
  @media only screen and (max-width: 767px) {
    .services {
      height: auto;
      padding-bottom: 40px;
      padding-top: 20px; } }
  .services .container {
    height: 100%; }
    .services .container .services-element-1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .services .container .services-element-1 .services-wrap {
        width: 100%;
        height: 100px;
        background-color: #FFFFFF;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .services .container .services-element-1 .services-wrap:hover {
        box-shadow: 0 14px 28px #398ac9;
        /* box-shadow: 0 14px 28px rgb(10, 10, 128) */ }
      .services .container .services-element-1 .services-text {
        font-size: 20px;
        line-height: 27px;
        color: #262626;
        font-weight: 700;
        font-family: "Raleway";
        /* border: 2px solid blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 70%; }
      .services .container .services-element-1 .services-icon {
        border-left: 2px solid #9D9D9D;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100%; }
      .services .container .services-element-1 .services-text-3 {
        font-size: 20px;
        color: #262626;
        font-weight: 700;
        font-family: "Raleway";
        /* border: 2px solid blue; */
        width: 80%;
        text-align: center; }
    .services .container .services-element-2 {
      display: flex;
      align-items: center;
      justify-content: center; }
      .services .container .services-element-2 .services-text-img {
        font-size: 75px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Raleway";
        text-align: right;
        background: url(../img/tomato.png) no-repeat center;
        height: 530px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media only screen and (max-width: 767px) {
          .services .container .services-element-2 .services-text-img {
            font-size: 45px; } }

.gallery {
  margin: 0 auto;
  background-color: #FFE92F; }
  .gallery .container {
    height: 100%;
    margin: 0 auto; }
    .gallery .container .gal-title {
      font-size: 50px;
      color: #262626;
      font-weight: 700;
      font-family: "Raleway";
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .gallery .container .gal-title {
          font-size: 50px; } }
    .gallery .container .gal-text {
      font-size: 17px;
      color: #262626;
      font-weight: 300;
      font-family: "Raleway";
      text-align: center;
      margin: 10px auto;
      margin-bottom: 30px; }
    .gallery .container .galpart-1 {
      display: flex;
      justify-content: space-between; }
      @media only screen and (min-width: 300px) and (max-width: 400px) {
        .gallery .container .galpart-1 .peach {
          margin-bottom: 15px; } }
      .gallery .container .galpart-1 .berries {
        display: flex;
        flex-direction: column; }
        .gallery .container .galpart-1 .berries .berri {
          margin-bottom: 15px; }
    @media only screen and (min-width: 600px) and (max-width: 2800px) {
      .gallery .container .galpart-2 {
        display: flex;
        justify-content: space-between;
        margin-top: 10px; } }
    @media only screen and (min-width: 600px) and (max-width: 1500px) {
      .gallery .container .galpart-2 .yogurt {
        margin-right: 15px; } }
    @media only screen and (min-width: 300px) and (max-width: 400px) {
      .gallery .container .galpart-2 .yogurt {
        margin-bottom: 15px; } }
    .gallery .container .gal-but {
      font-size: 20px;
      color: #ffffff;
      font-weight: 300;
      font-family: "Raleway";
      background: #5585A2;
      margin: 20px auto;
      text-align: center;
      border: 2px solid blue;
      max-width: 150px;
      margin-bottom: 20px; }
      @media only screen and (max-width: 767px) {
        .gallery .container .gal-but {
          font-size: 8px; } }
      @media only screen and (min-width: 300px) and (max-width: 400px) {
        .gallery .container .gal-but {
          width: 100px;
          height: 30px; } }

.sub {
  height: 501px;
  margin: 0 auto;
  background: url(../img/subscribe.png) right center; }
  .sub .container {
    height: 90%;
    margin: 0 auto; }
    .sub .container .sub-title {
      font-size: 40px;
      color: #262626;
      font-weight: 700;
      font-family: "Raleway";
      text-align: left;
      margin-top: 200px;
      margin-bottom: 34px; }
      @media only screen and (max-width: 768px) {
        .sub .container .sub-title {
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 15px;
          color: black; } }
    .sub .container .sub-text {
      font-size: 17px;
      color: #262626;
      font-weight: 300;
      font-family: "Raleway";
      margin-bottom: 20px; }
      @media only screen and (min-width: 300px) and (max-width: 500px) {
        .sub .container .sub-text {
          color: #7186b3;
          margin-top: 5px;
          font-size: 15px;
          margin-bottom: 10px; } }
    .sub .container .row .form-group {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 368px) {
        .sub .container .row .form-group {
          margin-top: 120px;
          margin-bottom: 20px; } }
      @media only screen and (max-width: 768px) {
        .sub .container .row .form-group {
          margin-top: 250px;
          margin-bottom: 50px; } }
      .sub .container .row .form-group .btn {
        border: none;
        background: #96B92C;
        font-size: 20px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Raleway";
        margin-bottom: 10px; }
        @media only screen and (min-width: 300px) and (max-width: 770px) {
          .sub .container .row .form-group .btn {
            font-size: 15px;
            margin: 5px auto 5px auto; } }

.blog {
  background-color: #B07CF7;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .blog .blog-header {
    font-size: 90px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .blog .blog-header {
        font-size: 45px; } }
  .blog .blog-text {
    /* border: 2px solid red; */
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .blog .blog-text {
        font-size: 15px; } }
  .blog .blog-element-1 {
    background: url("../img/juice.png") no-repeat;
    height: 311px;
    position: relative;
    margin: 10px 10px; }
    @media only screen and (min-width: 300px) and (max-width: 768px) {
      .blog .blog-element-1 {
        width: 280px; } }
    .blog .blog-element-1 .blog-gradient {
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, black 100%);
      width: 100%;
      height: 150px;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      transition: opacity 3s ease 0s; }
    .blog .blog-element-1 .blog-element-1:hover .gradient {
      opacity: 0; }
    .blog .blog-element-1 .blog-data {
      width: 60px;
      height: 60px;
      background-color: rgba(128, 128, 128, 0.3);
      border-radius: 4px;
      font-size: 24px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Raleway";
      text-align: center;
      text-transform: uppercase;
      position: relative;
      top: 45px;
      left: 45px; }
    .blog .blog-element-1 .blog-big-text {
      width: 340px;
      height: 79px;
      font-size: 18px;
      color: #ffffff;
      font-weight: 600;
      font-family: "Raleway";
      position: relative;
      right: 10px;
      top: 150px; }
      @media only screen and (min-width: 300px) and (max-width: 768px) {
        .blog .blog-element-1 .blog-big-text {
          font-size: 16px;
          width: 280px; } }
    .blog .blog-element-1 .blog-small-text {
      width: 370px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
      font-family: "Raleway";
      position: absolute;
      left: 20px;
      bottom: 20px; }
  .blog .blog-element-2 {
    background: url(../img/suup.png) center bottom no-repeat;
    background-size: cover;
    height: 311px;
    position: relative;
    margin-bottom: 10px; }
    @media only screen and (min-width: 300px) and (max-width: 768px) {
      .blog .blog-element-2 {
        width: 280px; } }
    .blog .blog-element-2 .blog-gradient {
      /* background-image: linear-gradient(0deg, #000000 0%, #ffffff 100%); */
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, black 100%);
      width: 100%;
      height: 150px;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      transition: opacity 3s ease 0s; }
    .blog .blog-element-2 .blog-data {
      width: 60px;
      height: 60px;
      background-color: rgba(128, 128, 128, 0.3);
      border-radius: 4px;
      font-size: 24px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Raleway";
      text-align: center;
      text-transform: uppercase;
      position: relative;
      top: 45px;
      left: 45px; }
    .blog .blog-element-2 .blog-big-text {
      height: 79px;
      font-size: 18px;
      color: #ffffff;
      font-weight: 600;
      font-family: "Raleway";
      position: relative;
      right: 10px;
      top: 150px; }
      @media only screen and (min-width: 300px) and (max-width: 768px) {
        .blog .blog-element-2 .blog-big-text {
          font-size: 16px; } }
    .blog .blog-element-2 .blog-small-text {
      width: 370px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
      font-family: "Raleway";
      position: absolute;
      left: 20px;
      bottom: 20px; }
  .blog .blog-element-3 {
    background: url(../img/raspberry.png) center;
    height: 310px;
    margin-bottom: 10px;
    position: relative; }
    @media only screen and (min-width: 300px) and (max-width: 768px) {
      .blog .blog-element-3 {
        background: url(../img/raspberry.png) right center;
        width: 280px;
        font-size: 16px; } }
    .blog .blog-element-3 .blog-gradient {
      /* background-image: linear-gradient(0deg, #000000 0%, #ffffff 100%); */
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, black 100%);
      width: 100;
      height: 150px;
      position: absolute;
      bottom: 0;
      opacity: 0.5;
      transition: opacity 3s ease 0s; }
    .blog .blog-element-3 .blog-data {
      width: 60px;
      height: 60px;
      background-color: rgba(128, 128, 128, 0.3);
      border-radius: 4px;
      font-size: 24px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Raleway";
      text-align: center;
      text-transform: uppercase;
      position: relative;
      top: 45px;
      left: 45px; }
    .blog .blog-element-3 .blog-big-text {
      height: 79px;
      font-size: 18px;
      color: #ffffff;
      font-weight: 600;
      font-family: "Raleway";
      position: relative;
      left: 0;
      top: 150px; }
      @media only screen and (min-width: 300px) and (max-width: 768px) {
        .blog .blog-element-3 .blog-big-text {
          font-size: 16px;
          padding-right: 100px; } }
    .blog .blog-element-3 .blog-small-text {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
      font-family: "Raleway";
      position: absolute;
      left: 20px;
      bottom: 20px; }
  .blog .blog-red {
    height: 56px;
    background: red;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    margin-bottom: 10px; }
    @media only screen and (min-width: 300px) and (max-width: 768px) {
      .blog .blog-red {
        font-size: 12px;
        background-color: red;
        width: 120px;
        height: 20px;
        margin-bottom: 10px; } }

.contact {
  background: url(../img/nature.png) center;
  margin: 0 auto;
  padding-top: 50px; }
  .contact .container {
    margin: 0 auto;
    color: red; }
    .contact .container .contact-title {
      font-size: 90px;
      color: #262626;
      font-weight: 700;
      font-family: "Raleway";
      text-align: center; }
      @media only screen and (max-width: 800px) {
        .contact .container .contact-title {
          font-size: 30px; } }
    .contact .container .contact-text {
      /* border: 2px solid purple; */
      font-size: 17px;
      color: #262626;
      font-weight: 300;
      font-family: "Raleway";
      text-align: center; }
      @media only screen and (max-width: 800px) {
        .contact .container .contact-text {
          font-size: 15px;
          border: 2px solid red;
          margin: 0 auto 0px auto; } }
    .contact .container .wrap {
      margin: 0 auto;
      border: 2px solid red; }
      @media only screen and (min-width: 700px) {
        .contact .container .wrap {
          display: flex; } }
      .contact .container .wrap .contact-block1 {
        margin: 0 50px 50px 0;
        text-align: center; }
        @media only screen and (min-width: 300px) and (max-width: 768px) {
          .contact .container .wrap .contact-block1 {
            margin: 0px 20px 20px 0px; } }
        .contact .container .wrap .contact-block1 .contact-name {
          background-color: #7DDFDF;
          display: flex;
          flex-direction: column;
          border: none;
          box-sizing: border-box;
          margin-bottom: 10px;
          padding: 10px;
          color: white;
          outline: none;
          margin: 0 auto 10px auto; }
        .contact .container .wrap .contact-block1 .contact-message {
          background-color: #7DDFDF;
          box-sizing: border-box;
          border: none;
          padding: 25px;
          outline: none;
          text-align: center; }
        .contact .container .wrap .contact-block1 input::placeholder,
        .contact .container .wrap .contact-block1 textarea::placeholder {
          color: rgba(255, 255, 255, 0.5); }
        .contact .container .wrap .contact-block1 input:focus,
        .contact .container .wrap .contact-block1 textarea:focus {
          background-color: #00C4C4;
          border-left: 3px solid gray; }
        .contact .container .wrap .contact-block1 .send {
          width: 200px;
          height: 56px;
          background: #3477AC;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 25px;
          color: #ffffff;
          font-weight: 300;
          font-family: "Raleway";
          margin: 0 auto;
          border: none;
          margin-top: 15px; }
      .contact .container .wrap .contact-block2 {
        border: 3px solid red;
        margin: 0px 0px 0px 20px; }
        .contact .container .wrap .contact-block2 .wrapp-address {
          /* border: 2px solid green; */
          font-size: 17px;
          color: #262626;
          font-family: "Raleway";
          margin-bottom: 20px; }
          @media only screen and (max-width: 768px) {
            .contact .container .wrap .contact-block2 .wrapp-address {
              font-size: 15px; } }
        .contact .container .wrap .contact-block2 .contact-title-AeP {
          font-weight: 700;
          text-transform: uppercase; }
        .contact .container .wrap .contact-block2 .sity-sAp {
          font-weight: 200; }
        .contact .container .wrap .contact-block2 .wrapp-email {
          /* border: 2px solid red; */
          font-size: 17px;
          color: #262626;
          font-family: "Raleway";
          margin-bottom: 20px; }
        .contact .container .wrap .contact-block2 .wrapp-phone {
          /* border: 2px solid fuchsia; */
          font-size: 17px;
          line-height: 25px;
          color: #262626;
          font-family: "Raleway";
          margin-bottom: 20px; }
    .contact .container .con-footer {
      display: flex;
      justify-content: space-between; }
      .contact .container .con-footer .Cfoot-container {
        margin: 0 auto; }
      .contact .container .con-footer .CFtext {
        /* border: 2px solid blueviolet; */
        font-size: 15px;
        color: #b9b9b9;
        font-weight: 300;
        font-family: "Raleway";
        display: flex;
        align-items: center;
        text-align: center; }
        @media only screen and (min-width: 300px) {
          .contact .container .con-footer .CFtext {
            color: black; } }
      .contact .container .con-footer .CFtitle {
        font-family: Pacifico;
        font-size: 19px;
        color: #b9b9b9;
        display: flex;
        align-items: center; }
      .contact .container .con-footer .love {
        color: red;
        padding: 5px; }
      .contact .container .con-footer .footer-navigation__link {
        text-decoration: none;
        color: white; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf"); }
