.about {
    height: 700px;
    // border: 2px solid red;
    margin: 0 auto;
    background-color: #00B8B8;
    @media only screen and (max-width: 767px) {
        height: auto;
        background-size: 100% 100%;
    }
    .container {
        height: 100%;
        // border: 2px solid green;
        display: flex;
  
    .raspberry-img {
        img {
            width: 100%;
            // border: 2px solid red;
            margin-top: 120px;
        }
    }

    .main-about {
        //  border: 2px solid red; 
        margin-top: 100px;
    
    .about-title {
        font-size: 90px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Raleway";
    //  border: 2px solid red; 
    margin-bottom: 20px;
    @media only screen and (max-width: 767px) {
    font-size: 40px;
    }
   
}
.about-text {
    /* border: 2px solid blue; */
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    // margin-left: 70px;
    margin-bottom: 10px;
    }
}   
}
}