.blog {
  
    background-color: #B07CF7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .blog-header {       
    // border: 2px solid red; 
    font-size: 90px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway" ;
    text-align: center;
    }
    .blog-text {
       
        /* border: 2px solid red; */
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    text-align: center;

    }
   
        .blog-element-1 {
            background: url("../img/juice.png") no-repeat ;
            height:311px;
            position: relative;
            margin: 10px 10px;
            @media only screen and (min-width:300px) and (max-width: 768px) {
                width: 280px;

             }
        .blog-gradient {
            
            background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
            width: 100%;
            height:150px;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            transition: opacity 3s ease 0s;
        }
        .blog-element-1:hover .gradient {
            opacity:0;
        }
        .blog-data {
            width: 60px;
            height: 60px;
            background-color: rgba(128, 128, 128,0.3);
            border-radius: 4px;
            font-size: 24px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Raleway";
            text-align: center;
            text-transform: uppercase;
            position: relative;
            top: 45px;
            left: 45px;
            }
            .blog-big-text {
                width: 340px;
            height: 79px;
            font-size: 18px;
            color: #ffffff;
            font-weight: 600;
            font-family: "Raleway";
            position: relative;
            right: 10px;
            // left: 20px;
            top: 150px;
            @media only screen and (min-width:300px) and (max-width: 768px) {
                font-size: 16px;
                width: 280px;

             }


            }
            .blog-small-text {
                width: 370px;
                font-size: 12px;
                color: rgba(255, 255, 255,0.7);
                font-weight: 600;
                font-family: "Raleway";
                position: absolute;
                left: 20px;
                bottom: 20px;
            }
        }

        .blog-element-2 {
            background: url(../img/suup.png) center bottom no-repeat; 
            background-size: cover;
            // width: 372px;
            height:311px;
            // margin: 10px;
            position: relative;
            margin-bottom: 10px;
            @media only screen and (min-width:300px) and (max-width: 768px) {
                width: 280px;

             }
            .blog-gradient {
                /* background-image: linear-gradient(0deg, #000000 0%, #ffffff 100%); */
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
                width: 100%;
                height:150px;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0.5;
                transition: opacity 3s ease 0s;
            }
            .blog-data {
                width: 60px;
                height: 60px;
                background-color: rgba(128, 128, 128,0.3);
                border-radius: 4px;
                font-size: 24px;
                color: #ffffff;
                font-weight: 700;
                font-family: "Raleway";
                text-align: center;
                text-transform: uppercase;
                position: relative;
                top: 45px;
                left: 45px;
                }
                .blog-big-text {
                    width: 340px;
                height: 79px;
                font-size: 20px;
                color: #ffffff;
                font-weight: 600;
                font-family: "Raleway";
                position: relative;
                left: 20px;
                top: 150px;
                @media only screen and (min-width:300px) and (max-width: 768px) {
                    font-size: 16px;
                    width: 280px;
                   
                }
                    
                }
                .blog-small-text {
                    width: 370px;
                    font-size: 12px;
                    color: rgba(255, 255, 255,0.7);
                    font-weight: 600;
                    font-family: "Raleway";
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                }
        }
        .blog-element-3 {
            background: url(../img/raspberry.png) center;
            // width: 372px;
            height: 310px;
            margin-bottom: 10px;
            position: relative;
            @media only screen and (min-width:300px) and (max-width: 768px) {
                background: url(../img/raspberry.png) right  center;
                width: 280px;
                font-size: 16px;
            }
            .blog-gradient {
                /* background-image: linear-gradient(0deg, #000000 0%, #ffffff 100%); */
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
                width: 100;
                height:150px;
                position: absolute;
                bottom: 0;
                opacity: 0.5;
                transition: opacity 3s ease 0s;
            }
            .blog-data {
                width: 60px;
                height: 60px;
                background-color: rgba(128, 128, 128,0.3);
                border-radius: 4px;
                font-size: 24px;
                color: #ffffff;
                font-weight: 700;
                font-family: "Raleway";
                text-align: center;
                text-transform: uppercase;
                position: relative;
                top: 45px;
                left: 45px;
                }
                .blog-big-text {
                    width: 340px;
                height: 79px;
                font-size: 20px;
                color: #ffffff;
                font-weight: 600;
                font-family: "Raleway";
                position: relative;
                left: 20px;
                top: 150px;
                // border: 2px solid red;
                @media only screen and (min-width:300px) and (max-width: 768px) {
                    font-size: 16px;
                    width: 290px;
                    padding-right: 100px;
                }
                }
                .blog-small-text {
                    width: 370px;
                    font-size: 12px;
                    color: rgba(255, 255, 255,0.7);
                    font-weight: 600;
                    font-family: "Raleway";
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                }
        }

   
    .blog-red {
        // width: 200px;
        height: 56px;
        background: red;
        text-transform: uppercase;
        font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    @media only screen and (min-width:300px) and (max-width: 768px) {
        font-size: 12px;
        background-color: red;
        width: 120px;
        height: 20px;
        margin-bottom: 10px;
    }
    }
    
}
