.home {
height: 900px;
border: 2px solid white; 
margin: 0 auto;
background: url("../img/img.png") center center;
background-size: cover;
position: relative;

@media only screen and (max-width: 767px) {
    height: auto;
    background-size: 100% 100%;
    padding-bottom: 20px;
}

    .home-ttb {
    /* border:2px solid red ; */
    height: 23%;
    margin-top:30%;
    .home-title {
        // border: 1px solid red;
        // margin-top:100px;
    font-size: 45px;
    font-weight: 1000;
    color: #262626;
    font-family: "Raleway";
    margin-bottom: 10px;
    @media only screen and (max-width:768px)  {
       color: blue;
       font-size: 20px;
     
    }
    }
    
    .home-text {
    font-size: 17px;
    color: #262626;
    font-weight: 300;
    font-family: "Raleway";
    margin-bottom: 10px;
    // border:1px solid magenta;
    @media only screen and (max-width: 767px) {
        width: 75%;
        height: auto;
        font-size: 13px;
    }

    }
    .home-button {
    height: 50px;
    background-color: #ff6033;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    border: none;
    margin-left: 20%;
    margin-top: 50px;

    @media only screen and (max-width: 767px) {
        font-size: 12px;
        background-color: blue;
        width: 80px; 
        height: 40px;
    }
    } 
    }
    .home-mouse {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate (0,50%); 
    @media only screen and (max-width: 767px) {
       display: none;
    }

    }                
    }
  