.home {
// width: 1500px;
height: 900px;
/* border: 2px solid red; */
margin: 0 auto;
background: url("../img/img.png");
background-size: cover;
background-size:cover;
position: relative;

@media only screen and (max-width: 767px) {
    height: auto;
    background: yellow;
    background-size: 100% 100%;
    padding-bottom: 20px;
}

.container {
    // width: 1200px;
    // height: 100%;
    // margin: 0 auto;
    // position: relative;
    border: 1px solid transparent;
    .home-wrapper {
    display: flex;
    align-items:baseline ;
    // border: 2px solid red;
    position: fixed;
    width: 1200px;
    background-color: #fff;
    }
    .home-logo {
    width: 50%;
    /* border: 2px solid blue; */
    font-family: Pacifico;
    font-size:30px;
    margin-top: 30px;
    }
    .logo-navigation__link {
    text-decoration: none;
    /* border: 2px solid green; */
    color: black;
    // position: fixed;
    }
    .logo-navigation__link:hover {
    color:#ff6033 ;
    }
    .navigation {
    // border: 2px solid pink;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-top: 30px;
    /* position: fixed; */
    left: 550px;
    }
    .navigation__link {
    text-decoration: none;
    font-size: 16px;
    color: #262626;
    font-weight: 700;
    font-family: "Raleway";
    border: 2px solid transparent; 
    }
    .navigation__link:hover {
    border-top: 2px solid orangered;
    }
    .home-ttb {
    /* border:2px solid red ; */
    // width: 50%;
    height: 23%;
    margin-top:30%;
    .home-title {
        border: 1px solid red;
    font-size: 45px;
    font-weight: 1000;
    color: #262626;
    font-family: "Raleway";
    margin-bottom: 10px;
    @media only screen and (min-width:600px) and (max-width: 1000px) {
       color: blue;
    }
    }
    
    .home-text {
    // width: 370px;
    // height: 69px;
    font-size: 17px;
    color: #262626;
    font-weight: 300;
    font-family: "Raleway";
    margin-bottom: 10px;
    border:1px solid magenta;
    @media only screen and (max-width: 767px) {
        width: 100%;
        height: auto;
    }

    }
    .home-button {
    // width: 30%;
    height: 50px;
    background-color: #ff6033;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    border: none;

    @media only screen and (max-width: 767px) {
        font-size: 12px;
        background-color: blue;
        // width: 100px;
    }
    } 
    }
    .home-mouse {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate (0,50%); 
    @media only screen and (max-width: 767px) {
       display: none;
    }




    }                
    }
}
  