@import "home.scss";
@import "about.scss";
@import "services.scss";
@import "gallery.scss";
@import "sub.scss";
@import "blog.scss";
@import "_contact.scss";


@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
    }
    @font-face {
    font-family: "Pacifico";
    src:url("../fonts/Pacifico/Pacifico-Regular.ttf")
    }
    